---
import { cn } from "@/lib/utils";
import { Button } from "./ui/button";
import { Play } from "lucide-react";

interface Props {
  variant?: "primary" | "secondary";
  class?: string;
}

const { class: className, variant = "primary" } = Astro.props;
---

<a
  target="_blank"
  href={variant === "primary"
    ? "https://schnitzelshow.podbean.com/"
    : "https://www.youtube.com/@schnitzelsnow"}
>
  <Button
    variant={variant}
    className={cn(
      "cursor-pointer",
      variant === "secondary" && "xl:pr-6",
      className
    )}
  >
    <span class="text-[14px] xl:text-[17px]"
      >{variant === "primary" ? "Listen Now" : "Watch On Youtube"}</span
    >
    <Play className="size-4 xl:size-5" />
  </Button>
</a>
