---
import { textVariants } from "@/components/typography";
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<h1
  class={cn(
    "title",
    textVariants({ variant: "display-md", uppercase: true }),
    className
  )}
>
  {title}
</h1>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  function animateTitle() {
    const element = document.querySelector(".title");
    if (!element) return;

    SplitText.create(element, {
      type: "words",
      autoSplit: true,
      onSplit: self =>
        gsap.from(self.words, {
          yPercent: 100,
          autoAlpha: 0,
          stagger: 0.08,
          duration: 0.8,
          ease: "power3.out",
        }),
    });
  }

  animateTitle();
  document.addEventListener("astro:page-load", animateTitle);
</script>
