---
import Typography from "../typography";
---

<section
  class="flex w-full max-w-175 flex-col items-center justify-center gap-8 px-4 py-8 text-secondary lg:h-183 lg:gap-24 lg:p-0"
>
  <div class="space-y-6 lg:space-y-9">
    <Typography variant="display-lg" tag="h2" className="text-center uppercase">
      Get in touch
    </Typography>
    <Typography variant="body-xl" className="text-center sm:px-10">
      Want to suggest a guest, collaborate, or just say hi? Drop a message, we
      read every note.
    </Typography>
  </div>
  <div
    class="flex w-full flex-col items-center justify-between gap-8 sm:flex-row sm:items-start"
  >
    <div class="flex w-full max-w-65.5 flex-col items-center gap-4 text-center">
      <Typography
        variant="h5"
        tag="h5"
        className="w-full bg-secondary py-2 text-white uppercase"
        >Email</Typography
      >
      <Typography variant="h6" tag="h6">wutschgo@hotmail.com</Typography>
    </div>
    <div class="flex max-w-75.25 flex-col items-center gap-4 text-center">
      <Typography
        variant="h5"
        tag="h5"
        className="w-full max-w-65.5 bg-secondary py-2 text-white uppercase"
        >Address</Typography
      >
      <div class="space-y-1">
        <Typography variant="h6" tag="h6"
          >Wolfgang Schüssler Wallsdorf 1</Typography
        >
        <Typography variant="h6" tag="h6">91241 Kirchensittenbach</Typography>
        <Typography variant="h6" tag="h6">Germany</Typography>
      </div>
    </div>
  </div>
</section>
