---
import { SwipeCards } from "@/components/islands/swipe-cards";
import AnimatedTitle from "@/components/islands/animated-title";
import Typography from "@/components/typography";
import person1 from "@/assets/person-1.png";
import person2 from "@/assets/person-2.png";
import person3 from "@/assets/person-3.png";
import person4 from "@/assets/person-4.png";
import person5 from "@/assets/person-5.png";
import swipeCards from "@/assets/svgs/swipe-cards.svg?url";

const guests = [
  {
    id: "1",
    image: person1.src,
  },
  {
    id: "2",
    image: person2.src,
  },
  {
    id: "3",
    image: person3.src,
  },
  {
    id: "4",
    image: person4.src,
  },
  {
    id: "5",
    image: person5.src,
  },
];
---

<section
  class="overflow-hidden bg-secondary text-white sm:h-[min(900px,100dvh)]"
>
  <div
    class="mx-auto h-full w-full max-w-432.5 px-4 md:px-8 xl:pr-14.75 xl:pl-24"
  >
    <div
      class="grid h-full grid-cols-1 items-center gap-10 md:gap-12 lg:grid-cols-2"
    >
      <div class="relative z-10 mt-10 max-w-152.5 lg:mt-0">
        <AnimatedTitle
          text="Guests Who Inspire"
          tag="h2"
          className="mb-8 text-primary-foreground 3xl:whitespace-nowrap lg:mb-9"
          client:visible
        />
        <Typography
          tag="p"
          variant="body-xl"
          className="text-[18px] leading-[31px] text-primary-foreground"
        >
          <span>I chat with outdoor nutters whose noodles have been</span><span>
            properly mushed by adventure. Less ego, more grit.</span
          ><span>
            We dig into the weird, the wild, and the stuff that</span
          ><span> usually stays off-mic—real stories from people</span><span>
            shaped (and slightly scrambled) by life outside.</span
          >
        </Typography>
      </div>

      <div class="relative flex w-full justify-center">
        <div
          class="relative aspect-4/5 w-full max-w-80 cursor-grab pr-8 pl-8 sm:max-w-full sm:pr-10 sm:pl-10 lg:max-w-100 lg:pr-12 lg:pl-0"
        >
          <div
            class="relative mx-auto w-full max-w-72 sm:max-w-80 md:max-w-sm lg:max-w-md"
          >
            {/* Circular text decoration */}
            <div
              class="absolute -top-11 -right-12 z-20 h-24 w-24 animate-[spin_10s_linear_infinite] sm:-top-14 sm:-right-16 sm:h-32 sm:w-32 lg:-top-18 lg:-right-20 lg:h-40 lg:w-40"
            >
              <img
                src={swipeCards}
                alt="Swipe cards"
                class="h-full w-full drop-shadow-[0_0_1px_rgba(0,0,0,0.55),0_4px_10px_rgba(0,0,0,0.35)]"
              />
            </div>

            <SwipeCards guests={guests} client:load />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
