---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Play } from "lucide-react";

interface Props {
  variant?: "primary" | "secondary";
  class?: string;
}

const { class: className, variant = "primary" } = Astro.props;
---

<a
  target="_blank"
  rel="noopener noreferrer"
  href={variant === "primary"
    ? "https://schnitzelshow.podbean.com/"
    : "https://www.youtube.com/@schnitzelsnow"}
  class={cn(
    buttonVariants({ variant }),
    variant === "secondary" && "xl:pr-6",
    className
  )}
>
  <span class="text-[14px] xl:text-[17px]"
    >{variant === "primary" ? "Listen Now" : "Watch On Youtube"}</span
  >
  <Play className="size-4 xl:size-5" />
</a>
