---
import SlotMachine from "@/components/astro/slot-machine.astro";
import Typography from "@/components/typography";
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/layout.astro";
import { ArrowRight } from "lucide-react";
import Star from "@/assets/svgs/star.svg";

export const prerender = true;
const marqueeItems = Array.from({ length: 10 });
---

<Layout
  title="Page Not Found | Schnitzel"
  description="The page you are looking for does not exist."
>
  <main
    class="flex h-full min-h-[60dvh] flex-col items-center justify-center gap-12 py-20 text-center text-pretty text-secondary lg:py-10 2xl:py-20"
  >
    <div class="max-w-full overflow-x-clip">
      <Typography
        tag="h1"
        variant="h1"
        uppercase={true}
        className="-mb-3 text-[clamp(4rem,28vw,8rem)] leading-[0.88] text-primary sm:text-[clamp(5.5rem,24vw,10rem)] lg:-mb-20 lg:text-[400px] lg:leading-114"
      >
        OOPS!
      </Typography>
      <div
        class="relative z-10 scale-x-105 -rotate-2 bg-secondary py-2.5 sm:py-3"
      >
        <div class="marquee-track flex whitespace-nowrap">
          <Typography
            className="inline-flex items-center whitespace-nowrap text-primary-foreground"
            tag="h4"
            variant="h4"
            aria-hidden="true"
          >
            {
              marqueeItems.map(() => (
                <div class="inline-flex items-center gap-4 pr-4">
                  <h4 class="uppercase">
                    THE PAGE THAT YOU ARE LOOKING FOR DOES NOT EXIST
                  </h4>
                  <Star
                    class="relative inline-block size-5 lg:size-6.5"
                    aria-hidden="true"
                  />
                </div>
              ))
            }
          </Typography>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col items-center justify-center gap-6 px-4 text-pretty lg:mt-28 lg:mb-10"
    >
      <Typography variant="body-lg">
        It seems the link is broken or the page has been removed
      </Typography>
      <Button asChild>
        <a
          href="/"
          class="group inline-flex h-12.5 items-center justify-center rounded-xs border-2 border-primary bg-primary px-4 py-2 text-sm font-medium text-primary-foreground transition-colors"
        >
          <SlotMachine>
            <Typography tag="span" variant="button-regular"
              >Go to Homepage</Typography
            >
            <ArrowRight className="ml-3 size-6 shrink-0" />
          </SlotMachine>
        </a>
      </Button>
    </div>
  </main>
</Layout>
