---
import DiveInto from "@/components/astro/dive-into.astro";
import GetInTouch from "@/components/astro/get-in-touch.astro";
import Faq from "@/components/islands/faq";
import Layout from "@/layouts/layout.astro";

export const prerender = true;
---

<Layout title="Schnitzel">
  <main
    class="flex min-h-screen flex-col items-center justify-center bg-primary-foreground"
  >
    <GetInTouch />
    <Faq client:load />
    <DiveInto />
  </main>
</Layout>
