---
import Layout from "@/layouts/layout.astro";
import PodbeanEpisodePlayer from "@/components/islands/podbean";

export const prerender = true;
---

<Layout title="Schnitzel">
  <main class="flex min-h-screen flex-col items-center justify-center">
    <PodbeanEpisodePlayer
      client:load
      id="5rjbn-1a356c3-pb"
      title="#31 James Mchaffie"
    />
  </main>
</Layout>
